.pagina-home {

    .blocos {
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        flex-wrap: wrap;
        margin-left: 10px;
    }

    .bloco {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 30px;

        background-color: #ffffff;
        margin-top: 20px;
        width: 215px;
        height: 158px;
        border-radius: 12px;

        padding: 10px;

        .cor-amarela {

            border-radius: 12px;
            width: 60px;
            height: 60px;
            margin-bottom: 10px;

            background-color: #FFCE37;

        }

        .cor-verde {

            border-radius: 12px;
            width: 60px;
            height: 60px;
            margin-bottom: 10px;

            background-color: #B3FF37;

        }

        .cor-azul {

            border-radius: 12px;
            width: 60px;
            height: 60px;
            margin-bottom: 10px;

            background-color: #37FFF3;

        }

        .cor-roxo {

            border-radius: 12px;
            width: 60px;
            height: 60px;
            margin-bottom: 10px;

            background-color: #b12bf0;

        }

        .cor-vermelho {

            border-radius: 12px;
            width: 60px;
            height: 60px;
            margin-bottom: 10px;

            background-color: #f02b2b;

        }

        .cor-azul-escuro {

            border-radius: 12px;
            width: 60px;
            height: 60px;
            margin-bottom: 10px;

            background-color: #2b3ff0;

        }

        .cor-ciano {

            border-radius: 12px;
            width: 60px;
            height: 60px;
            margin-bottom: 10px;

            background-color: #2bf0a8;

        }

        h2 {
            margin-bottom: 10px;
            font: 700 15px 'Roboto';
        }

        h3 {
            font: 400 15px 'Roboto';
        }
    }
}