.pagina-exe11 {

    .underline-exe11 {
        background-color: #2bf0a8;
        height: 5px;
        width: 1205px;
    }

    li {
        font: 400 15px 'Roboto';
        list-style: none;

        padding-top: 2px;
        margin-left:  60%;
    }
}