.comp-cabecalho-Exercicios{

    .underline {
        height: 5px;
        width: 1205px;
    }

    .setinha{
        padding-right: 10px;
        font-size: 30px;
    }

    .titulo {
        font: 700 24px 'Roboto';
        color: black;
        margin-top: 80px;
        margin-left: 80px;
        margin-bottom: 10px;
    }

    .enunciado {
        background-color: #FFFFFF;
        display: flex;

        border-radius: 20px;
        width: 1205px;

        margin-top: 30px;
        height: 200px;

        align-items: center;
        text-align: center;
        
        h3 {
            width: 1205px;
            padding: 40px;
            font: 400 15px 'Roboto';
        }
    }

    .justify-center {
        display: flex;
        justify-content: center;
    }
}